# ----------------------------------------
# Python bytecode and compiled files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Python environments
.env
*.env
pinet/
.venv/
venv/
ENV/
env/
env.bak/
*.conda

# VSCode/IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/

# Model files / checkpoints
*.pth
*.pt
*.ckpt
*.onnx

# Datasets & raw data
src/pinet_project/data/preprocessed/
src/pinet_project/data/raw_videos/
src/pinet_project/data/annotations/*.tmp
*.tar
*.tar.gz
*.zip

# Media and temporary outputs
*.wav
*.mp3
*.mp4
*.avi

# Outputs and cache
runs/
output/
checkpoints/
cache/
__results__/

# AlphaPose/OpenPose
alphapose-results/
pose-output/
*.json

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Python packaging
build/
dist/
*.egg-info/

# Docker/PID/Socket
*.pid
*.sock
